<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ASM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway:500.700"
    />

    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <section id="development-text"><h1>Generative lines.</h1></section>

    <div id="lines-circle"><canvas id="lines-circle-canvas"></canvas></div>
    <!-- CODE FOR VUEAPP CARDS -- COMMENTING OUT FOR NOW.
    <div id="app" class="container">
      <card
        v-if="seen"
        v-on:click="seen = !seen"
        data-image="assets/img/gallery/newyork.jpg"
      >
        <h1 slot="header">New York</h1>
        <p slot="content">New York architecture and art museums.</p>
      </card>
      <card
        v-if="seen"
        v-on:click="seen = !seen"
        data-image="assets/img/gallery/norway.jpg"
      >
        <h1 slot="header">Norway</h1>
        <p slot="content">Norway chocolate and unlimited mountains.</p>
      </card>
      <card
        v-if="seen"
        v-on:click="seen = !seen"
        data-image="assets/img/gallery/sweden.jpg"
      >
        <h1 slot="header">Sweden</h1>
        <p slot="content">Sweden waters and king's palaces.</p>
      </card>
    </div> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
